header {
    width: 100%;
    padding: 18px 8%;
    position: sticky;
    top: 0;
    backdrop-filter: blur(20px);
    z-index: 20; 
    border-bottom: 2px solid;

}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    width: 150px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.nav-item.active a {
    border-bottom: 3px solid var(--color-primary-6);
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    position: absolute;
    right: 12%;
    display: none;
    backdrop-filter: blur(15px);
    padding: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 1170px) {
    #nav_list,
    #navbar .btn-default  {
        display: none;
    }
    #nav_logo{
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        padding-right: 30px;
        
     
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
       background-color: var(--color-primary-6);
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    } 

    .fa-solid{
        color: #fff;
    }
    .arrow_direction{
        color: black;
    }
}