* {
    margin: 0;
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
    text-transform: inherit;
   
      font-family: "Poppins", sans-serif;
  }
  
 
  
  .sobre-hub {
    margin-top: 80px;    
   display: flex;
   flex-wrap: wrap;
   gap: 30px;
    place-content: center;
    /* min-height: 100vh; */
    font:  1.25em/1.25 sans-serif;
    text-align: center;
    width: 100vw; 
    /* text-transform: uppercase; */
  }
  
  .hub {
    overflow: hidden;
    border-radius: 5px;
    /* padding-bottom: 1rem; */
    backface-visibility: hidden;
    transform: perspective(25em);
    background: #7635a8 content-box;
    filter: drop-shadow(4px 4px 13px);
    animation: card 1s ease-out var(--dt0) backwards, cost 1s var(--dt4) backwards;
    width: 300px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1rem), 50% 100%, 0 calc(100% - 1rem));
    
    max-height: 250px;
    height: 250px;
    transition: .5s;
    cursor: pointer;
  }

  .hub.active  {

    height: 600px;
    max-height: 600px;
  }
  .hub:hover{
    background-color: var(--color-neutral-1);
  }
  .hub.active > .hub-cab{ 
    height: 430px;
    max-height: 430px;
    opacity: 1;
  }
  
  .dados-hub{
    font-size: 18px;
  }
  
  
  
  @keyframes card {
    0% {
      transform: perspective(25em) rotatey(0.5turn);
    }
  }
  
  .hub-cab {
    grid-gap: 1rem;
    padding: 2rem 0.5em 1rem;
    background: linear-gradient(var(--grad));
    color: #fff;
    
     
    opacity: 0;
    max-height: 0;
    transition: .5s;
    animation: head 1s ease-out var(--dt1) backwards;
    
  }
   

  /*  */
  .hub-cab::after {
    height: 4px;
    /* background: currentcolor; */
    clip-path: inset(0 round 4px);
    animation: line 1s ease-out var(--dt2) backwards;
    /* content: ""; */
  }

  section.cadastro{
     position: relative;
     z-index: 9;
  }
  
  section {
    margin-bottom: -1rem;
    border-bottom: solid 1rem transparent;
    background-color: inherit;
    }
  
  .btn-cadastro {
    place-content: center;
    line-height: 3;
    animation: text 1s ease-out var(--dt2) backwards;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    border-top: #fff solid 1px;
  }
  
  
.btn-cadastro strong{
  color: var( --color-primary-2);
}
  