#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    max-width: 100vw;
    
}
#gerenteshub{
    width: 45%;
}
.gerentes{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0px;
    overflow: hidden;
}
#gerenteshub {

    width: 100%;
    min-width: 350px;
    max-width: 700px;
}
.section-title {
    color: var(--color-primary-6);
    font-size: 2rem;
    text-align: center;
  }
  .title-seciton-space{
    
    margin-top: 40px;
}
.section-subtitle {
    font-size: 2.1875rem;
    color: #fff;
    text-decoration: none;
    text-shadow: 0.5vw 0.5vw 0.5vw var(--color-primary-6), 0 0 3vw var(--color-primary-4), 0 0 3vw var(--color-primary-4), 0 0 3vw var(--color-primary-4);
} 

.history{
    margin-top: 50px;
    display: grid;
    place-items: center;
    justify-content: center;
    
  }
  
.gallery {
    --size: 100px;
    display: grid;
    grid-template-columns: repeat(10, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: var(--size);
    place-items: start center;
    gap: 5px;
    
    &:has(:hover) img:not(:hover),
    &:has(:focus) img:not(:focus){
      filter: brightness(0.5) contrast(0.5);
    }
  
    & img {
      object-fit: cover;
      width: calc(var(--size) * 2);
      height: calc(var(--size) * 2);
      clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
      transition: clip-path 0.25s, filter 0.75s, transform 1s;
      grid-column: auto / span 2;
      border-radius: 5px;
  
      &:nth-child(19n - 13) { 
        grid-column: 2 / span 2
      }
  
      &:hover,
      &:focus {
        clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
        z-index: 1;
        transition: clip-path 0.25s, filter 0.25s;
      }
      
      &:focus {
        outline: 1px dashed black;
        outline-offset: -5px;
      }
    }
}

.title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
    justify-content: center;
    padding:70px 5px 5px 10px;
    gap: 10px;
}
/* .cards-sobre {
    display: flex;
    gap: 15px;
    margin: 60px auto ; 
    background-color: red;
    min-width: 100vh;

  /* } */
  /* .cards-sobre .card {
    padding: 2em 1em;
    width: 550px;
    background: #ffffff21;
    color: #fff;
    border-radius: 12px;    
    cursor: pointer;
    transition: 400ms;
    text-align: justify;
    height: 500px;
  } */ 
  
  /* .cards-sobre .card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100px;
    width: 250px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 400ms;
  } */
  
  /* .cards-sobre .card p.tip {
    font-size: 1.5em;
    font-weight: 700;
  }
  
  .cards-sobre .card p.second-text {
    font-size: 1.2em;
  }
  
  .cards-sobre .card:hover {
    transform: scale(1.1, 1.1);
  }
  
  .cards-sobre:hover > .card:not(:hover) {
    filter: blur(10px);
    transform: scale(0.9, 0.9);
  } */


  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    gap: 40px;
  }
  
  .container .glass {
    position: relative;
    width: 380px;
    height: 490px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
    color: #fff;
    padding: 10px;
    font-size: 16px;
  }
  
  .container:hover .glass:hover {
    transform: rotate(0deg);
    margin: 0 10px;
    width: 380px;
    height: 430px;
    gap: 15px;
  }
  
  .container .glass::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
.gilkaimg{
  position: relative; 
  top: 20px;
}


.gallery img:nth-child(1).show{
  transform: translateX(0);
  transition-delay: 0.2s;
  
}
.gallery img:nth-child(2).show{
  transform: translateX(0);
  transition-delay: 0.2s;
  
}
.gallery img:nth-child(3).show{
  transform: translateX(0);
  transition-delay: 0.2s;
  
}
.gallery img:nth-child(4).show{
  transform: translateX(0);
  transition-delay: 0.2s;
  
}
.gallery img:nth-child(5).show{
  transform: translateX(0);
  transition-delay: 0.3s;
  
}
.gallery img:nth-child(6).show{
  transform: translateX(0);
  transition-delay: 0.4s;
  
}
.gallery img:nth-child(7).show{
  transform: translateX(0);
  transition-delay: 0.4s;
  
}
.gallery img:nth-child(8).show{
  transform: translateX(0);
  transition-delay: 0.4s;
  
}
.gallery img:nth-child(9).show{
  transform: translateX(0);
  transition-delay: 0.4s;
  
}
.gallery img:nth-child(10).show{
  transform: translateX(0);
  transition-delay: 0.4s;
  
}
.gallery img:nth-child(11).show{
  transform: translateX(0);
  transition-delay: 0.6s;
  
}
.gallery img:nth-child(12).show{
  transform: translateX(0);
  transition-delay: 0.6s;
  
}
.gallery img:nth-child(13).show{
  transform: translateX(0);
  transition-delay:0.6s;
  
}
.gallery img:nth-child(14).show{
  transform: translateX(0);
  transition-delay: 0.6;
  
}


@media screen and (max-width: 1170px) {
    .gerentes{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #gerenteshub {
        width: 70%;
        padding: 0;
    }
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;   
        
    }

    .section-title {
        font-size: 1.5rem;
    }
    
    .section-subtitle {
        font-size: 1.9rem;
   
    } 
    .history{
        margin: 0;
        display: grid;
        place-items: center;
        justify-content: center;
        
      }

    .gallery {
        --size: 100px;
        display: grid;
        grid-template-columns: repeat(2, var(--size));
        grid-auto-rows: var(--size);
        margin-bottom: var(--size);
        place-items: start center;
        gap: 5px;
        
        &:has(:hover) img:not(:hover),
        &:has(:focus) img:not(:focus){
          filter: brightness(0.5) contrast(0.5);
        }
      
        & img {
          object-fit: cover;
          width: calc(var(--size) * 2);
          height: calc(var(--size) * 2);
          clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
          transition: clip-path 0.25s, filter 0.75s;
          grid-column: auto / span 2;
          border-radius: 5px;
      
          &:nth-child(9n - 4) { 
            grid-column: 2 / span 2
          }
      
          &:hover,
          &:focus {
            clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
            z-index: 1;
            transition: clip-path 0.25s, filter 0.25s;
          }
          
          &:focus {
            outline: 1px dashed black;
            outline-offset: -5px;
          }
        }
    }
    #mobile-history{
        display: none;
    }

    #menu .section-subtitle {
        text-align: center;
    }
    .container {
        display: none;
        
      }
      .container-mobile{
        margin-top: 30px;
        gap: 20px;
      }
      .container-mobile .glass {
        position: relative;
        width: 350px;
        height: 390px;
        background: linear-gradient(#fff2, transparent);
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        border-radius: 10px;          
        color: #fff;
        padding: 10px;
        font-size: 16px;
        gap: 15px;
      }
      
}
    
.container-mobile{
    display: none;
}

@media screen and (max-width: 600px) {
    .gerentes{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    #gerenteshub {
        width: 40%;
        padding: 0;
    }
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;   
        
    }

    .section-title {
        font-size: 1.5rem;
    }
    
    .section-subtitle {
        font-size: 1.9rem;
   
    } 
    .history{
        margin: 0;
        display: grid;
        place-items: center;
        justify-content: center;
        
      }

    .gallery {
        --size: 100px;
        display: grid;
        grid-template-columns: repeat(2, var(--size));
        grid-auto-rows: var(--size);
        margin-bottom: var(--size);
        place-items: start center;
        gap: 5px;
        
        &:has(:hover) img:not(:hover),
        &:has(:focus) img:not(:focus){
          filter: brightness(0.5) contrast(0.5);
        }
      
        & img {
          object-fit: cover;
          width: calc(var(--size) * 2);
          height: calc(var(--size) * 2);
          clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
          transition: clip-path 0.25s, filter 0.75s;
          grid-column: auto / span 2;
          border-radius: 5px;
      
          &:nth-child(9n - 4) { 
            grid-column: 2 / span 2
          }
      
          &:hover,
          &:focus {
            clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
            z-index: 1;
            transition: clip-path 0.25s, filter 0.25s;
          }
          
          &:focus {
            outline: 1px dashed black;
            outline-offset: -5px;
          }
        }
    }
    #mobile-history{
        display: none;
    }

    #menu .section-subtitle {
        text-align: center;
    }
    .container{
        display: none;
    }
    .container-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }
      .container:hover .glass:hover {
        transform: none;
        margin: 0 10px;
        width: 580px;
        height: 430px;
        gap: 15px;
        background-color: red;
      }
      
      .container .glass::before {
        content: attr(data-text);
        position: absolute;
        top: 0;
        width: 100%;
        height: 40px;
        background: rgba(255, 255, 255, 0.05);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
      }
      
} 